<h2>Publier une nouvelle blague</h2>

<%= form_with model: @blague, local: true do |form| %>

  <% if @blague.errors.any? %>

    <h2>Une erreur est survenue</h2>

    <ul>
      <% @blague.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>

  <% end %>

  <p>
    <%= form.label "Nom de blague :" %>
    <br />
    <%= form.text_field :nom %>
  </p>

  <p>
    <%= form.label "Saisir la blague" %>
    <br />
    <%= form.text_area :contenu %>
  </p>

  <p>
    <%= form.label "Qui a écrit cette blague ?" %>
    <br />
    <%= form.text_field :auteur %>
  </p>

  <p>
    <br />
    <%= form.submit "Publier"%>
  </p>

<% end %>